# Based on the "trust" template v0.1.2
# https://github.com/japaric/trust/tree/v0.1.2

dist: trusty
language: rust
services: docker
sudo: required

env:
  global:
    - CRATE_NAME=nano-vanity

matrix:
  include:
    # Linux
    - env: TARGET=x86_64-unknown-linux-gnu

    # OSX
    - env: TARGET=x86_64-apple-darwin
      os: osx

    # Testing other channels
    - env: TARGET=x86_64-unknown-linux-gnu
      rust: nightly
    - env: TARGET=x86_64-apple-darwin
      os: osx
      rust: nightly

before_install:
  - set -e
  - rustup self update

install:
  - sh ci/install.sh
  - source ~/.cargo/env || true

script:
  - bash ci/script.sh

after_script: set +e

before_deploy:
  - sh ci/before_deploy.sh

deploy:
  # TODO update `api_key.secure`
  # - Create a `public_repo` GitHub token. Go to: https://github.com/settings/tokens/new
  # - Encrypt it: `travis encrypt 0123456789012345678901234567890123456789
  # - Paste the output down here
  api_key:
    secure: "I5ToA8TWDqwJC9CyIMoBBi5Fq7flJxMuTW01XBkbm5lIQ5vQqAmc1jnabpqu+K6lNgd7vcFZWgLHG2P3l6Mi4AHhlUimVkOSeYBX/eY6iOWo0dojtA1c3DJKWYnAHOT8kF1t5KZXtjh2bcQpF0lB0zoPVgOmDvUD1YDrVmp04PXiYEmpV/mscZDEasLs8Gj1B/Kr8zCA5RLUi1zfDU9JiR4VBOicqhtAEH+2bNRKbxICAVPnSr0oId2yPTmy8wKGxEnPfIC+YWtfNaR5P1VyUqANlCKctkvATFpeF6o00hmEcZfwst2n2byKzdKLTlnR9vjEGz8Ie1GnaeDzUkuZ7j1Xmo3Xfp1LzDPwcGievGA7zOtnxLbTeN9ndRcJO5IBjYY0pt1K+IUAKpoXwOPWkUikjF9lJeCUOD5UAhrxitN3KKBvqnfVazVJy5ZgNQ1SmhRNCws7wE8QoGmwcxvPvTzYqJGobMpFeFyCw4iagn2HE+whbrzPZz6d5Pzu/kB12w/ItCas71qnrGvK5cHPg7lhqePZ+Fyy5U99C9N7bTg14UM9jzko34EJB+QT3qLERmqaYuKUzTPIxVEnJfVLFxV3D0SOoWMAfS1Ya8ETPXm9UsXbhkunR8b3EpiHr4Znrtm9xf3DBawMHEJhzfB/kpPra1QNFW090LQGvMnz0RM="

  file_glob: true
  file: $CRATE_NAME-$TRAVIS_TAG-$TARGET.*
  on:
    condition: $TRAVIS_RUST_VERSION = stable
    tags: true
  provider: releases
  skip_cleanup: true

cache: cargo
before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo

branches:
  only:
    # release tags
    - /^v\d+\.\d+\.\d+.*$/
    - master

notifications:
  email:
    on_success: never
